<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Tailspin.SpaceGame.Web.Model" value="https://moleszczak.pkgs.visualstudio.com/508b2526-7c40-400e-a6de-3f9f8adca9a1/_packaging/Tailspin.SpaceGame.Web.Model/nuget/v3/index.json" />
  </packageSources>
</configuration>
